designs/pages/pages/audioTest.json
[
    {
        "id": "sd_ssE6YEwPi2OWIlwG",
        "type": "tab",
        "createdDate": "2023-03-06T12:46:18.218Z",
        "label": "audioTest",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "audioTestComponent"
    },
    {
        "id": "sd_c8KsLHt410oTzFis",
        "type": "OnInit",
        "z": "sd_ssE6YEwPi2OWIlwG",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [
            {
                "key": "recorder",
                "defaultValue": {
                    "type": "any",
                    "value": "null"
                }
            }
        ],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [
            {
                "key": "url",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_c8KsLHt410oTzFis",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 80,
        "wires": [
            [
                "sd_EDg7rxum0Lwa7SK3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "audioTestComponent"
    },
    {
        "id": "sd_NR7gqqi3gbjohLwm",
        "type": "PageVariables",
        "z": "sd_ssE6YEwPi2OWIlwG",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_NR7gqqi3gbjohLwm",
        "category": "Function",
        "x": 485,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "audioTestComponent",
        "generated": true
    },
    {
        "id": "sd_khO7p3skDabsNXJ4",
        "type": "PageStart",
        "z": "sd_ssE6YEwPi2OWIlwG",
        "viewType": "pages",
        "nodeType": "start",
        "name": "",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "audioBlob",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "sd_khO7p3skDabsNXJ4",
        "category": "General",
        "x": 60,
        "y": 220,
        "wires": [
            [
                "sd_oAZhZXgFr8EMWJeT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "audioTestComponent"
    },
    {
        "id": "sd_oAZhZXgFr8EMWJeT",
        "type": "Script",
        "z": "sd_ssE6YEwPi2OWIlwG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n\nconst startRecording = async () => {\n  const stream = await navigator.mediaDevices.getUserMedia({ audio: true });\n  page.recorder = new MediaRecorder(stream);\n  page.recorder.start();\n};\n\nstartRecording();",
        "functionName": "sd_oAZhZXgFr8EMWJeT",
        "category": "Function",
        "x": 165,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "audioTestComponent",
        "generated": true
    },
    {
        "id": "sd_9hZUfNVTPIpsZW8k",
        "type": "PageStart",
        "z": "sd_ssE6YEwPi2OWIlwG",
        "viewType": "pages",
        "nodeType": "start",
        "name": "stop recording",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "stopRecording",
        "category": "General",
        "x": 285,
        "y": 220,
        "wires": [
            [
                "sd_1aH9s3a2BzqpQFyc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "audioTestComponent"
    },
    {
        "id": "sd_1aH9s3a2BzqpQFyc",
        "type": "Script",
        "z": "sd_ssE6YEwPi2OWIlwG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let player = document.querySelector('.audio-player')\nconsole.log(player)\nlet chunks = []\npage.recorder.stop();\npage.recorder.ondataavailable = (event) => {\n  console.log(event.data)\n  chunks.push(event.data);\n};\npage.recorder.onstop = () => {\n  const audioBlob = new Blob(chunks, { type: 'audio/wav' });\n  const audioUrl = URL.createObjectURL(audioBlob);\n  console.log(page.sanitizer)\n  page.audio = page.sanitizer.bypassSecurityTrustUrl(audioUrl)\n  chunks = [];\n  console.log(page.audio)\n  page.wavesurfer.load(' https://www.learningcontainer.com/wp-content/uploads/2020/02/Kalimba.mp3');\n};",
        "functionName": "sd_1aH9s3a2BzqpQFyc",
        "category": "Function",
        "x": 410,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "audioTestComponent",
        "generated": true
    },
    {
        "id": "sd_o3YoXae8yR8O7A8J",
        "type": "UseDependency",
        "z": "sd_ssE6YEwPi2OWIlwG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "DomSanitizer",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "sanitizer"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/platform-browser",
        "serviceDesignerType": "pages",
        "functionName": "sd_o3YoXae8yR8O7A8J",
        "category": "Function",
        "x": 365,
        "y": 80,
        "wires": [
            [
                "sd_NR7gqqi3gbjohLwm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "audioTestComponent",
        "generated": true
    },
    {
        "id": "sd_Fs82pct0Waa0M6Fi",
        "type": "Script",
        "z": "sd_ssE6YEwPi2OWIlwG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "wavsufer inital",
        "script": "page.wavesurfer = WaveSurfer.create({\n    container: '#waveform',\n    waveColor: 'violet',\n    progressColor: 'purple'\n});",
        "functionName": "wavsuferInital",
        "category": "Function",
        "x": 240,
        "y": 80,
        "wires": [
            [
                "sd_o3YoXae8yR8O7A8J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "audioTestComponent",
        "generated": true
    },
    {
        "id": "sd_EDg7rxum0Lwa7SK3",
        "type": "UseDependency",
        "z": "sd_ssE6YEwPi2OWIlwG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "WaveSurfer",
        "propertyType": "this.page",
        "propertyGv": "this.page.WaveSurfer",
        "alias": "WaveSurfer",
        "modules": [],
        "import_all": true,
        "library": "wavesurfer.js",
        "serviceDesignerType": "pages",
        "functionName": "sd_EDg7rxum0Lwa7SK3",
        "category": "Function",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "sd_Fs82pct0Waa0M6Fi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "audioTestComponent",
        "generated": true
    }
]
